extends _layouts/main-layout.pug

block append config
  - var pageTopText = 'Some UI Elements'

block main
  
  - var indexComponents = ['defaultAccordion', 'accentedCardPanel', 'stepProgress', 'defaultBanner']
  each component in indexComponents
    +panel
      +#{component}
